copycat-element,
copycat-title,
copycat-source,
copycat-text,
copycat-input,
copycat-x {
	display: block;
}

copycat-element {
	background-color: white;
	box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, .125);
	box-shadow: 0rem 1rem 0rem -0.5rem rgba(0, 0, 0, .125);
	transition: background-color linear 0.15s;
}

copycat-element:last-child {
	margin-bottom: 0;
}

copycat-element[data-component-state="edit"] {
	background-color: #eeffd4;
}