copycat-copy {
	background-color: white;
	box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, .5);
	box-shadow: 0rem 0.5rem 2.0rem -1.0rem rgba(0, 0, 0, .5);
	display: block;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

copycat-copy:last-child {
	margin-bottom: 0;
}

copycat-copy [data-section-name="text"] {
	background-color: #fff5c0;
}

copycat-copy h4 {
	color: #5f5f5f;
}